<div layout="column" layout-fill>
    <md-content layout="column">

        <div class="md-toolbar-tools" layout="row">
            <h1 flex="33">Index</h1>
        </div>

        <div layout="row">
            <md-card flex>
                <a ng-href="/tasks"><img ng-src="images/tasks-preview.jpg" class="md-card-image" alt="Tasks Preview"></a>
                <md-card-content>
                    <h2 class="md-title">Tasks</h2>
                    <p>A small <em>Todo List</em> application. Tasks are persisted and linked to your account</p>
                    <md-button class="md-raised md-primary" ng-href="/tasks">Go !</md-button>
                </md-card-content>
            </md-card>
            <md-card flex>
                <a ng-href="/gallery"><img ng-src="images/gallery-preview.jpg" class="md-card-image" alt="Gallery Preview"></a>
                <md-card-content>
                    <h2 class="md-title">Gallery</h2>
                    <p>A basic <em>Gallery</em> application where you can upload pictures</p>
                    <md-button class="md-raised md-primary" ng-href="/gallery">Go !</md-button>
                </md-card-content>
            </md-card>
        </div>

    </md-content>
</div>