<div layout="column" layout-fill>
    <md-content layout="column">

        <div class="md-toolbar-tools" layout="row">
            <h1 flex="33">Tasks</h1>
            <small flex="66"> {{tasksCount.count}} tasks remaining</small>
        </div>

        <div layout="row" layout-padding ng-show="tasksCount.count > 0 || search ">
            <md-input-container flex="50">
                <md-icon md-svg-icon="action:ic_search_24px" class="name"></md-icon>
                <input type="Search" ng-model="search" placeholder="Search tasks...">
            </md-input-container>
            <md-input-container flex="50">
              <md-select placeholder="Sort" ng-model="orderProperty">
                  <md-option value="1">Ascending</md-option>
                  <md-option value="-1">Descending</md-option>
              </md-select>
            </md-input-container>
        </div>

        <md-list>
            <md-list-item class="md-2-line" layout="row" dir-paginate="task in tasks | itemsPerPage: perPage"
                          total-items="tasksCount.count">
                <md-checkbox type="checkbox" ng-model="task.done" aria-label="Done"></md-checkbox>
                {{ task.name }}
            </md-list-item>
        </md-list>
        <dir-pagination-controls template-url="client/components/pagination-md/pagination.ng.html"
                                 on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>

        <form class="action-form" ng-submit="save()" name="form" novalidate layout="column" layout-padding
              layout-margin>
            <div layout="row">
                <md-input-container flex>
                    <input ng-model="newTask.name" placeholder="Add a new task">
                </md-input-container>
                <md-button flex="10" layout-align="end center">
                    Add
                </md-button>
            </div>
            <div layout="row">
                <span flex></span>
                <md-button layout-align="end center" class="md-primary" ng-click="clearCompleted()">
                    <md-icon md-svg-icon="navigation:check_24px" class="name"></md-icon>
                    Clear completed
                </md-button>
            </div>
        </form>
    </md-content>
</div>
