<!--suppress ALL -->
<div layout="column" layout-fill>
    <md-content layout="column">

        <md-fab-speed-dial ng-show="album.owner == $root.currentUser._id" class="md-sling md-fab-top-right" md-direction="left">
            <md-fab-trigger>
                <md-button aria-label="menu" class="md-fab md-warn">
                    <md-tooltip md-direction="top">Actions</md-tooltip>
                    <md-icon md-svg-icon="navigation:ic_menu_24px"></md-icon>
                </md-button>
            </md-fab-trigger>
            <md-fab-actions>
                <md-button aria-label="Upload images" ng-click="showUploadModal()" class="md-fab md-mini">
                    <md-tooltip md-direction="top">Upload images</md-tooltip>
                    <md-icon md-svg-icon="file:ic_file_upload_24px"></md-icon>
                </md-button>
                <md-button aria-label="Remove images" ng-click="removeAllImages()" class="md-fab md-mini">
                    <md-tooltip md-direction="top">Remove all images</md-tooltip>
                    <md-icon md-svg-icon="content:ic_clear_24px"></md-icon>
                </md-button>
                <md-button aria-label="Delete album" ng-click="removeAlbum()" class="md-fab md-mini md-warn md-hue-2">
                    <md-tooltip md-direction="top">Delete album and images</md-tooltip>
                    <md-icon md-svg-icon="action:ic_delete_24px"></md-icon>
                </md-button>
            </md-fab-actions>
        </md-fab-speed-dial>

        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools" layout="row">
                <h1>Album : {{album.name}}</h1>
                <md-button ng-href="/gallery" >
                    <md-icon class="icon" md-svg-icon="navigation:ic_arrow_back_24px"></md-icon>
                    <md-tooltip>
                        Back
                    </md-tooltip>
                </md-button>
            </div>
        </md-toolbar>

        <div ng-show="images.length == 0" layout-padding>
            <md-content>
                <p>This album is empty</p>
            </md-content>
        </div>

        <md-content ng-hide="images.length == 0" layout-padding>
            <md-grid-list
                    md-cols-sm="1" md-cols-md="2" md-cols-gt-md="6" md-row-height="4:3"
                    md-gutter="8px" md-gutter-gt-sm="4px">
                <md-grid-tile ng-repeat="image in images track by $index" class="tile md-whiteframe-z1"
                              md-rowspan="{{randomSpan($index)}}" md-colspan="{{randomSpan($index)}}" md-colspan-sm="1">
                    <md-grid-tile-header ng-show="album.owner == $root.currentUser._id" class="tile-header" layout="row" layout-align="end center">
                        <md-icon class="icon" ng-click="removeImage(image)" md-svg-icon="action:ic_delete_24px">
                            <md-tooltip>
                                Delete
                            </md-tooltip>
                        </md-icon>
                    </md-grid-tile-header>
                    <img class="thumb" ng-src="{{ image.url({store: 'thumbnail'}) }}" ng-show="image.isUploaded()"
                         ng-click="showImageModal(image)"/>
                    <md-progress-circular md-mode="indeterminate" ng-hide="image.isUploaded()"></md-progress-circular>
                    <md-grid-tile-footer class="tile-footer">
                        <h3>{{image.name()}}</h3>
                    </md-grid-tile-footer>
                </md-grid-tile>
            </md-grid-list>
        </md-content>
    </md-content>

    <p ng-hide="album.owner == $root.currentUser._id">Only the creator of this album can add or remove pictures</p>

</div>
