<div layout="column" layout-fill>

    <md-content layout="column">

        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools" layout="row">
                <h1>Gallery</h1>
            </div>
        </md-toolbar>

        <md-button ng-show="$root.currentUser" class="md-fab md-fab-top-right" aria-label="Create album" ng-click="showAlbumModal()">
            <md-tooltip md-direction="top">Create album</md-tooltip>
            <md-icon md-svg-icon="content:ic_add_24px"></md-icon>
        </md-button>

        <div ng-show="albums.length == 0" layout-padding>
            <md-content>
                <p>You don't have any album yet</p>
            </md-content>
        </div>

        <md-list ng-hide="albums.length == 0" layout-padding>
            <md-toolbar class="md-hue-4">
                <h2 class="md-toolbar-tools">
                    <span>Private albums</span>
                </h2>
            </md-toolbar>
            <md-content ng-show="privateAlbums.length == 0">
                <p>You don't have any private albums</p>
            </md-content>
            <md-list-item class="md-2-line" layout="row" ng-repeat="album in privateAlbums = (albums | filter:{ private: true })" ng-click="openAlbum(album)">
                <div class="md-list-item-text">
                    <h3>{{ album.name }}</h3>
                    <p>{{ album.description }}</p>
                </div>
            </md-list-item>
            <md-divider></md-divider>
            <md-toolbar class="md-hue-4">
                <h2 class="md-toolbar-tools">
                    <span>Public albums</span>
                </h2>
            </md-toolbar>
            <md-content ng-show="publicAlbums.length == 0">
                <p>There are no public albums yet</p>
            </md-content>
            <md-list-item class="md-2-line" layout="row" ng-repeat="album in publicAlbums = (albums | filter:{ private: false })" ng-click="openAlbum(album)">
                <div class="md-list-item-text">
                    <h3>{{ album.name }}</h3>
                    <p>{{ album.description }}</p>
                </div>
            </md-list-item>
        </md-list>
    </md-content>
</div>