<!--suppress ALL -->
<div layout="column" layout-fill>

    <md-content layout="column">

        <div class="md-toolbar-tools" layout="row">
            <h1>Gallery</h1>
        </div>

        <div ng-show="albums.length == 0" layout-padding>
            <md-content>
                <p>You don't have any album yet</p>
            </md-content>
        </div>

        <md-list ng-hide="albums.length == 0" layout-padding>
            <md-toolbar>
                <h2 class="md-toolbar-tools">
                    <span>Private albums</span>
                </h2>
            </md-toolbar>
            <md-content ng-show="privateAlbums.length == 0">
                <p>You don't have any private albums</p>
            </md-content>
            <md-list-item class="md-2-line" layout="row" ng-repeat="album in privateAlbums = (albums | filter:{ private: true })" ng-click="openAlbum(album)">
                <div class="md-list-item-text">
                    <h3>{{ album.name }}</h3>
                    <p>{{ album.description }}</p>
                    <md-icon md-svg-icon="action:ic_delete_24px" ng-click="remove(album)"
                             aria-label="Delete album" class="md-secondary md-hue-3">
                    </md-icon>
                </div>
            </md-list-item>
            <md-divider></md-divider>
            <md-toolbar>
                <h2 class="md-toolbar-tools">
                    <span>Public albums</span>
                </h2>
            </md-toolbar>
            <md-content ng-show="publicAlbums.length == 0">
                <p>There are no public albums yet</p>
            </md-content>
            <md-list-item class="md-2-line" layout="row" ng-repeat="album in publicAlbums = (albums | filter:{ private: false })" ng-click="openAlbum(album)">
                <div class="md-list-item-text">
                    <h3>{{ album.name }}</h3>
                    <p>{{ album.description }}</p>
                    <md-icon ng-show="album.owner == $root.currentUser._id" md-svg-icon="action:ic_delete_24px" ng-click="remove(album)"
                             aria-label="Delete album" class="md-secondary md-hue-3">
                        <md-tooltip>Delete album</md-tooltip>
                    </md-icon>
                </div>
            </md-list-item>
        </md-list>
    </md-content>

    <md-fab-speed-dial md-direction="up" class="md-fling floating-fab">
        <md-fab-trigger ng-click="showAlbumModal()">
            <md-button aria-label="Create album" class="md-fab md-accent">
                <md-tooltip md-direction="top">Create album</md-tooltip>
                <md-icon md-svg-icon="content:ic_add_24px"></md-icon>
            </md-button>
        </md-fab-trigger>
    </md-fab-speed-dial>
</div>